#background{
  width:100%;
  height:20vh;
  background-size: cover;
  background-position: center;
  display: none;
}
.container{
  display: none;
}
.row{
  text-align: center;
}
.stats{
  text-align: center;
  border: 1px;
  border-style: solid;
  border-radius: 6px;
  border-color: #000;
  margin-bottom: 5em;
}
.modal {
    background:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    z-index:10;
    top:0;
    left:0;
    position:fixed;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #616161;
  padding:10px;
}
.header{
  background-color: #616161;
}
.navBar{
  background-color: #8e8e8e;
  padding:5px;
  justify-content: center; /* align horizontal */
  display: flex;
}
.current{
  background-color: #8e8e8e;
  border-style: solid;
  border-width: .5px;
  border-bottom: 0px;
}
.navLink{
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.uac{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #8e8e8e;
  border-radius: 50%;

}
.valid{
  background-color:#81C784 !important;
}
.invalid{
  background-color: #E57373 !important;
}
.verified{
  background-color: #FFF176 !important;
}
.toMany{
  background-color: #64b5f6 !important;
}
.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}
.inner{
	width:40%;
	background-color:white;
	border-radius:5px;
}
.tweetLink{
  text-align: center;
  margin-top: 1em;
}
.tweet{
	background-color:#F5F5F5;
	border-radius:5px;
  width:auto;
}
.reply{
	background-color:#E0E0E0;
	border-radius:5px;
  width:auto;
}
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}
.jumbotron{
	text-align: center;
}
a{
  color:#9a0007;
}
a:hover{
  color:#ff6659;
}
a:focus{
  color:#000;
}
b{
  color: #d32f2f;
}
input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
